<p id="notice"><%= notice %></p>

<p>
  <strong>Starters:</strong>
  <%= @category.starters %>
</p>

<p>
  <strong>Mains:</strong>
  <%= @category.mains %>
</p>

<p>
  <strong>Desserts:</strong>
  <%= @category.desserts %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
