<!DOCTYPE html>
<html>
<head>
  <title>NewCookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<ul>
 <li><%= link_to "home", root_path %></li>
<li><%= link_to "categories", categories_path %></li>
<li><%= link_to "recipes", recipes_path %></li>
<li><%=link_to 'ingredients', ingredients_path %></li>
<li><%=link_to 'quantities', quantities_path %></li>
</ul>
</nav>
<%= yield %>

</body>
</html>
