<!DOCTYPE html>
<html>
<head>
  <title>NewCookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "home", root_path %>
<%= link_to "categories", categories_path %>
<%= link_to "recipes", recipes_path %>
<%#=link_to 'ingredients', ingredients_path %>
<%= yield %>

</body>
</html>
