<!DOCTYPE html>
<html>
<head>
  <title>NewCookbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav>
<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<ul><li>
  <li>
 <% if user_signed_in? %>
  <%= link_to 'log out', destroy_user_session_path, method: :delete %>
  <% else%>
  <%= link_to 'login', new_user_session_path %>
  <%= link_to 'register', new_user_registration_path %>
 <% end %>
</li>
 <li><%= link_to "home", root_path %></li>
<li><%= link_to "categories", categories_path %></li>
<li><%= link_to "recipes", recipes_path %></li>
<li><%=link_to 'ingredients', ingredients_path %></li>
<li><%=link_to 'quantities', quantities_path %></li>
</ul>
</nav>
<%= yield %>

</body>
</html>
